{%- liquid
  assign options = block.settings

  assign tag_style = options.tag_style
  assign content_alignment = options.content_alignment

  assign heading = options.heading
  assign body = options.body
  assign body_size = options.body_size
  assign heading_size = options.heading_size

  assign icon_position = options.icon_position
  assign icon = options.icon
  assign custom_icon_image = options.custom_icon_image
  assign enable_drawer = options.enable_drawer
-%}
<style>

</style>
{% capture tag_content %}
  {% if heading != blank or body != blank or custom_icon_image != blank or icon != 'none' %}
    <div class="product-information-tag__content-wrapper {% if content_alignment == 'left' %} product-information-tag__content-wrapper--left-alignment {% elsif content_alignment == 'center' %} product-information-tag__content-wrapper--center-alignment {% endif %}">
      {% if heading != blank or custom_icon_image != blank or icon != 'none' %}
        <div class="product-information-tag__heading {{ heading_size }} {% if icon_position == 'inline' %} product-information-tag__heading--inline {% elsif icon_position == 'top' %} product-information-tag__heading--column {% endif %}">
          {% if custom_icon_image != blank or icon != 'none' %}
            <span class="product-information-tag__heading-icon-wrap {{ heading_size }}">
              {%- if custom_icon_image != blank -%}
                <img
                  {% render 'image-attributes', image: custom_icon_image, size: 'small', class: 'product-information-tag__heading-icon' %}
                >
              {%- elsif icon != 'none' -%}
                {% render 'icon-pack', icon: icon, class: 'product-information-tag__heading-icon' %}
              {%- endif -%}
            </span>
          {% endif %}  
          {% if heading != blank %}        
            <span class="product-information-tag__heading-title custom-fontweight-pdp{% if enable_drawer == true %} underline-animation-parent rte {% endif %}">
              {{ heading }}
            </span>
          {% endif %}
        </div>
      {% endif %}
      {% if body != blank %}
        <div class="product-information-tag__body rte {{ body_size }} {% if heading == blank and enable_drawer == true %} underline-animation-parent {% endif %}">{{ body }}</div>
      {% endif %}
    </div>
  {% endif %}
{% endcapture %}

<div class='block-{{ block.id }} product-information-tag-block custom-width-pdp ' {{ block.shopify_attributes }}>
  {% if enable_drawer %}
    <sidebar-button>
      <button
        class='unstyled-button product-information-tag {% if enable_drawer == true %} link-parent-for-hover {% endif %} {% if content_alignment == 'center' and icon_position == 'top' %} product-information-tag--icon-centered {% endif %} {% if content_alignment == 'left' %} product-information-tag--left-alignment {% elsif content_alignment == 'center' %} product-information-tag--center-alignment {% endif %} {% if tag_style == 'solid' %} product-information-tag--solid {% elsif tag_style == 'outline' %} product-information-tag--outline {% endif %}'
        data-sidebar-id='product-information-sidebar-{{ block.id }}-{{ product.id }}-{{ sectionId }}'
        aria-label='{{ btn_text | strip_html | escape }}'
        data-sidebar-button
        type='button'
      >
        {{ tag_content }}
      </button>
    </sidebar-button>
  {% else %}
    <div class='product-information-tag {% if content_alignment == 'center' and icon_position == 'top' %} product-information-tag--icon-centered {% endif %} {% if content_alignment == 'left' %} product-information-tag--left-alignment {% elsif content_alignment == 'center' %} product-information-tag--center-alignment {% endif %} {% if tag_style == 'solid' %} product-information-tag--solid {% elsif tag_style == 'outline' %} product-information-tag--outline {% endif %}' data-url="{{block.settings.taglink  }}">
      {{ tag_content }}
    </div>
  {% endif %}
</div>
<style>
  .custom-width-pdp{
    width:100% !important; 
  }
  .custom-fontweight-pdp{
    font-weight:500 !important;
  }
  .product-information-tag:hover{
    background:#EAE9E9;
  }
</style>
<script>
  var infotag=document.querySelectorAll(".product-information-tag");
  infotag.forEach(function(ele){
    ele.addEventListener("click", function(){
      var dataUrl=ele.getAttribute("data-url");
      dataUrl=dataUrl.replace("#","");
      var transitionele=document.getElementById(dataUrl);
        transitionele.scrollIntoView({ behavior: 'smooth' });
      transitionele.setAttribute("data-aria-expanded", true);
      var decWrap=transitionele.querySelector(".accordeon-plus__content-wrap");
      decWrap.style.maxHeight="fit-content";
    })
  })
</script>
