{%- liquid
  assign options = section.settings

  assign color_scheme = options.color_scheme
  assign enable_border = options.enable_border
  assign show_language_selector = options.show_language_selector
  assign show_currency_selector = options.show_currency_selector
  assign show_payment_icons = options.show_payment_icons
  assign show_policy_links = options.show_policy_links
  assign copyright_text = options.copyright_text
  assign bottom_bar = options.bottom_bar
  assign container_size = options.container_size
  assign desktop_column_count = options.desktop_column_count
  assign enable_follow_on_shop = options.enable_follow_on_shop
  assign add_side_paddings = options.add_side_paddings
  assign section_spacing_top = options.section_spacing_top
  assign section_spacing_bottom = options.section_spacing_bottom
  assign enable_background_around_container = options.enable_background_around_container
-%}
<style>
  .footer__menu-item:hover span{
    color:blue;
    font-weight:500;
    text-decoration: none !important;
  }
  .footer__text p{
    color: rgba(59, 57, 51, 0.75);
  }
  .footerblockmenu .underline-text__label{
      color: rgba(59, 57, 51, 0.75);

  }
  .footer__policies-item span{
    color: rgba(59, 57, 51, 0.75)
  }
  .unstyled-link.footer__logo.second_img img{
    width:200px;
  }
   .footer__block .input-btn svg{
    position:relative;
    left:0px;
    transition:all 0.3s ease-in-out;
    
  }
  .footer__block .input-btn:hover svg{
    position:relative;
    left:5px;
    
  }
  .test_write {
    position: absolute;
    top: 17px;
    right: 40px;
    display: none;
}
  .main_footer_logo {
    display: flex;
    align-items: center;
}
.footer__text.block_text_2{
  margin-bottom: 10px;
}
  .footer_btn_m path{
  fill:white!important;
  
}
  .copy_right_text {
    font-size: 13px;
    color: #3b3933c2;
    margin-left: 2px;
    display:none;
}
.block_title_2 strong{
  text-decoration:line-through;
}
  .footer__policies-item{
    text-transform:capitalize;
  }
.currency_selector_s_d {
  display:none;
}
.footer .localization-dropdown-toggle{
  color:#3B3933;
}
.footer__policies-item .underline-text__label span{
  color:#0F52FF;
}
  .main_logo_Mobile{
    display:none;
  }
  .footer__text a:hover{
    color:#0F52FF;
  }

.card-grid.footer__card-grid{
  display:flex;
  flex-wrap:wrap;
  gap:40px;
}
.footerblockmenu.menu-footer-block{
  flex:0.35;
}
.footer__block{
  flex:1;
}
.footer__title.block_title_2.caption2 *{
  color:#3B3933;
  font-weight:500;
}
.footer__title.caption2 {
   color:#3B3933;
  font-weight:500;
}

  
.footer .accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25); */
}

.social_mobile{
    display:none;
  }
.footer .accordion-item-header {
  /* padding: 0.5rem 3rem 0.5rem 1rem; */
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.footer .link.social-list__item-link {
  height:35px;
  width:35px;
}
.social_desktop{
  margin-left:5px;
}
/* .footer .accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.footer .accordion-item-header.active::after {
  content: "\2212";
} */


.footer .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.menu_links_m {
    padding: 12px 0px;
}
.menu_links_m {
    padding: 9px 0px;
    font-size: 15px;
}
.footer .accordion-item-body-content {
  /* padding: 1rem; */
  line-height: 1.5rem;
  /* border-top: 1px solid; */
  /* border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; */
}
.mobile_inner_m {
  width:100%;
}
  .mobile_inner_m{
    display:none;
  }
.footer.nav_mobile.accordion-item-header  {
  justify-content:space-between;
  align-items:center;
}
.footer .field input{
  background:#F6F6F6!important;
}

@media (max-width: 1200px){
  .footerblockmenu.menu-footer-block{
  flex:unset;
    width:47%;
}
.footer__block{
 flex:unset;
   width:47%;
}
}
  @media screen and (max-width:768px){
    .d_inner_m {
      display:none;
    }
    .footer .link.social-list__item-link {
    height: 50px;
    width: 50px;
}
    .copy_right_text {
      display:block;
    }
    .footer__title{
      font-size:15px;
    }
    .footer.nav_mobile.accordion-item-header{
       font-size:15px;
    }
    .footer .link.social-list__item-link svg{
    height: 40px;
    width: 40px;
}
  .footer__block.block-footer-3.social-media-footer .footer__title:nth-child(3) {
    margin-top: 14px;
}
    .footer__block.block-footer-3.social-media-footer {
    margin-top: 25px;
    gap: 12px;
}
    
  .currency_selector_s_d {
    display:flex;
  }
  .footer_mobile_d {
    display:none;
  }
  .footer__block.block-footer-1 {
    margin-bottom:15px;
  }
  .footer__block.footerblockmenu {
    border-bottom: 1px solid #C7C7C7;
  }
    .footer__block.block-footer-3.social-media-footer{
  margin-top:25px;
} 
  .footer__title {
    margin:0 0 1rem;
  }
    .footer__block.block-footer-3.social-media-footer .footer__text.block_text_2.body4{
    margin-bottom: 1.1rem;
}
  .footer__block.block-footer-3.social-media-footer .footer__text.body4{
    margin-bottom:0.7rem;
  }
  .social_mobile{
    display:none;
  }
  .footer__block.block-footer-4 {
    margin-top:28px;
  }
  .card-grid.footer__card-grid{
    padding-bottom:9px;
  }
    .footer__utils {
   
    padding-bottom: 13px;
}
  .custom-padding-bg{
    overflow:hidden;
  }
  .menu_links_m a{
    text-decoration:none;
    color:#3B3933c7;
  }
    /* .currency_selector_s_d {
  display:flex;
}
.footer__outer-container{
  background:#000000;
}
    .footer__outer-container{
  background:#000000;
}
  .footer__container {
    background:#000000;
  }
  .footer {
     background:#000000;
  }
    .footer_mobile_d {
      display:none;
    }
    .main_logo_Mobile {
      display:flex;
      gap:23px;
    }
    .main_logo_d {
      display:none;
    }
    .footer__text.body4 p{
      color:#C7C7C7;
    }
    .footer__title{
      color:#FFFFFF;
    }
    .footer__menu a{
        color:#C7C7C7;
    }
    .social_desktop{
      display:none;
    }
    .field input{
      background:#bbbab82e!important;
    }
       .field .btn.btn--solid{
         background:#C7C7C7!important;
       }
    .footer .field .newsletter__arrow path{
      stroke:#0F52FF
    }
    .field input::placeholder{
       color:#C7C7C7;
    }
    .footer__policies *{
      color:#C7C7C7;
    }
    .footer .localization-dropdown-toggle{
     color:#C7C7C7;
    }
    .footer .localization-dropdown-toggle path{
        stroke:#C7C7C7;
    }
        .card-grid.footer__card-grid{
      display:flex;
      flex-wrap:wrap;
      grid-gap: unset;
      row-gap: 4rem;
                padding-bottom:10px;
    }
    .menu-footer-block, .social-media-footer{
      width:50%;
    }
        .footer__policies{
      column-gap:1.5rem;
    }
        .footer__policies-item {
    border-right: 1px solid #fff;
    padding-right: 15px;
}
    .footer__policies-item:last-of-type{
      border:0px;
    }
    .footer__logo {
    margin: 0 0 1.5rem;
}
        .footer__newsletter .custom-arrow-icon path{
      fill:#0F52FF !important;
    }
    .footer__newsletter .field .btn.btn--solid{
    position: absolute;
    top: 50%;
    right: 6px;
    cursor: pointer;
    min-width: auto;
    min-height: auto;
    height: 4.4rem;
    width: 4.4rem;
    transform: translateY(-50%);
      border-radius:15px;
     } */
    .footerblockmenu.menu-footer-block{
  flex:unset;
    width:100%;
}
  .footer__logo{
    margin-bottom:0px;
  }
    .footer__card-grid {
    padding: 0rem 0 5.6rem;
}
  .footer__container {
      padding:0px;
    }
    
.footer__block{
 flex:unset;
   width:100%;
}
    .card-grid.footer__card-grid {
    display: flex;
    flex-wrap: wrap;
    gap:0px;
}
    .main_footer_logo {
    gap: 25px;
}
  .mobile_inner_m {
    display:block;
  }
  }
</style>
{%- capture css -%}
  {% style %}
    .section-{{ section.id }} {
      --gsc-columns: 1;
      --gsc-space-between-cards: 4.8rem;
      --gsc-section-spacing-top: {{ section_spacing_top }}px;
      --gsc-section-spacing-bottom: {{ section_spacing_bottom }}px;
    }

    @media {% render 'media-queries', screen: 'md' %} {
      .section-{{ section.id }} {
        --gsc-columns: {{ desktop_column_count }};
      }
    }

    {% for block in section.blocks %}
        .block-{{ block.id }}{
            --gsc-logo-width: {{ block.settings.logo_width | divided_by: 10 }}rem;
            --gsc-image-width: {{ block.settings.image_width }}%;
            --gsc-img-ratio: {{ block.settings.image_ratio | times: 100 }}%;
        }
    {% endfor %}
  {% endstyle %}
{%- endcapture -%}

{%- render 'inline-css-minifier', css: css -%}

<div class='footer section-{{ section.id }} section-spacing {% if enable_background_around_container %} section color-{{ color_scheme }} {% endif %}'>
  <div class='footer__outer-container container container--{{ container_size }} {% if add_side_paddings %} container--with-aside-paddings {% endif %}'>
    <div class='footer__container {% if enable_border %}footer__container--bordered{% endif %} container container--{{ container_size }} container--with-aside-paddings {% unless enable_background_around_container %} section color-{{ color_scheme }} {% endunless %}'>
      {%- if section.blocks.size > 0 -%}
        <div class='card-grid footer__card-grid'>
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'image' -%}
                {%- assign image = block.settings.image -%}
                {%- assign video = block.settings.video -%}
                {%- assign link_url = block.settings.link.url -%}
                <div class='footer__block block-{{ block.id }}' {{ block.shopify_attributes }}>
                  <div class='footer__image-wrap'>
                    <a
                      class='shape shape--nature'
                      {% if link_url != blank %}
                        href='{{ link_url }}'
                      {% endif %}
                      aria-label=''
                    >
                      {%- if video != blank -%}
                        {% render 'video-with-alt',
                          video: video,
                          class: 'image footer__image',
                          autoplay: true,
                          loop: true,
                          muted: true,
                          controls: false,
                          loading: 'lazy'
                        %}
                      {%- elsif image != blank -%}
                        <img
                          {% render 'image-attributes', image: image, size: 'medium', class: 'image footer__image' %}
                        >
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'image footer__image placeholder-image' }}
                      {%- endif -%}
                    </a>
                  </div>
                </div>
              {%- when 'text' -%}
                <div class='footer__block block-{{ block.id }}' {{ block.shopify_attributes }}>
                  {%- if block.settings.title != blank -%}
                    <div class='footer__title {{ block.settings.heading_size }}'>{{ block.settings.title }}</div>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class='rte footer__text {{ block.settings.body_size }} body-color body-font-weight-from-global-settings'>
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                </div>
              {%- when 'logo_with_text' -%}
                <div class='footer__block block-{{ block.id }}' {{ block.shopify_attributes }}>
                  {%- if block.settings.logo_img != blank -%}
                    <div class="main_footer_logo main_logo_d">
                    {% render 'logo',
                      class: 'footer__logo',
                      image: block.settings.logo_img,
                      logo_width: block.settings.logo_width,
                      logo_text: shop.name
                    %}
                     {% render 'logo',
                      class: 'footer__logo second_img',
                      image: block.settings.second_img,
                      logo_width: block.settings.logo_width,
                      logo_text: shop.name
                    %}
                    </div>
                     <div class="main_footer_logo main_logo_Mobile">
                    {% render 'logo',
                      class: 'footer__logo',
                      image: block.settings.logo_img_mobile,
                      logo_width: block.settings.logo_width,
                      logo_text: shop.name
                    %}
                     {% render 'logo',
                      class: 'footer__logo second_img',
                      image: block.settings.second_img_mobile,
                      logo_width: block.settings.logo_width,
                      logo_text: shop.name
                    %}
                    </div>
                    
                  {%- endif -%}
                  {%- if block.settings.title != blank -%}
                    <div class='footer__title {{ block.settings.heading_size }}'>{{ block.settings.title }}</div>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class='rte footer__text {{ block.settings.body_size }} body-color body-font-weight-from-global-settings'>
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                </div>
              {%- when 'subscribe' -%}
                <div class='footer__block block-{{ block.id }}' {{ block.shopify_attributes }}>
                  {%- if block.settings.title != blank -%}
                    <div class='footer__title {{ block.settings.heading_size }}'>{{ block.settings.title }}</div>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class='rte footer__text {{ block.settings.body_size }} body-color body-font-weight-from-global-settings'>
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}

                  {%- form 'customer', id: 'ContactFooter', class: 'newsletter footer__newsletter' -%}
                    <input
                      name='contact[tags]'
                      type='hidden'
                      value='newsletter'
                      id='ContactFooter-ContactTagsInput-{{ form.id }}'
                    >
                    <div class='field'>
                      <label class='visually-hidden' for='ContactFooter-ContactEmailInput-{{ form.id }}'>
                        {{- 'forms.newsletter.screen_reader.email_input_label' | t -}}
                      </label>
                      <input
                        type='text'
                        name='contact[name]'
                        class='input input--large input--{{ block.settings.input_style }}'
                        value='{{ form.name }}'
                        aria-required='true'
                        autocorrect='off'
                        autocapitalize='off'
                        autocomplete='name'
                        placeholder='First Name'
                        required
                        id='ContactFooter-ContactEmailInput-{{ form.id }}'
                        style="margin-bottom:14px;background:#F6F6F6"
                      >
                      <div class="test_write">
                        ✅
                      </div>
                    
                    </div>

                    <div class='field'>
                      <label class='visually-hidden' for='ContactFooter-ContactEmailInput-{{ form.id }}'>
                        {{- 'forms.newsletter.screen_reader.email_input_label' | t -}}
                      </label>
                      <input
                        type='email'
                        name='contact[email]'
                        class='input input--large input--{{ block.settings.input_style }}'
                        value='{{ form.email }}'
                        aria-required='true'
                        autocorrect='off'
                        autocapitalize='off'
                        autocomplete='email'
                        placeholder='{{ 'forms.newsletter.store_front.email_input_placeholder' | t }}'
                        required
                        id='ContactFooter-ContactEmailInput-{{ form.id }}'
                        style="background:#F6F6F6"
                      >
                      <button
                        class='btn btn--solid btn--lg input-btn'
                        name='commit'
                        type='submit'
                        aria-label='{{ 'forms.newsletter.screen_reader.subscribe_button_label' | t }}'
                      >
                          {% render 'icon', icon_name: 'chevron', class: 'carousel-btn__icon footer_btn_m' %}
                      </button>
                    </div>

                    {%- if form.errors -%}
                      {% assign error = form.errors.translated_fields.email
                        | capitalize
                        | append: ' '
                        | append: form.errors.messages.email
                      %}
                      <script>
                        window.notification = { text: '{{ error }}', variant: 'warning' }
                      </script>
                    {%- endif -%}

                    {%- if form.posted_successfully? -%}
                      {% assign success_message = 'forms.newsletter.store_front.success' | t %}
                      <script>
                        window.notification = { text: '{{ success_message }}', variant: 'success' }
                      </script>
                    {%- endif -%}
                  {%- endform -%}
                </div>
              {%- when 'social_media' -%}
                <div class='footer__block block-{{ block.id }} social-media-footer' {{ block.shopify_attributes }}>
                  {%- if block.settings.title1 != blank -%}
                    <div class='footer__title block_title_2 {{ block.settings.heading_size }}'>{{ block.settings.title1 }}</div>
                  {%- endif -%}
                  {%- if block.settings.body1 != blank -%}
                    <div class='rte footer__text block_text_2 {{ block.settings.body_size }} body-color body-font-weight-from-global-settings'>
                      {{ block.settings.body1 }}
                    </div>
                  {% endif %}
                  {%- if block.settings.title != blank -%}
                    <div class='footer__title {{ block.settings.heading_size }}'>{{ block.settings.title }}</div>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class='rte footer__text {{ block.settings.body_size }} body-color body-font-weight-from-global-settings'>
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                      <div class="social_desktop">
                  {%- render 'social-list', class: 'footer__social-list' -%}
                      </div>
                    <div class="social_mobile">
                    {%- render 'social-list', class: 'footer__social-list', mobile: true -%}
                    </div>
                </div>
              {%- when 'menu' -%}
                <div class='footer__block footerblockmenu  block-{{ block.id }} menu-footer-block' {{ block.shopify_attributes }}>
                  <div class="d_inner_m">
                  {%- if block.settings.title != blank -%}
                    <div class='footer__title {{ block.settings.heading_size }}'>{{ block.settings.title }}</div>
                  {%- endif -%}
                  <div class='footer__menu {{ block.settings.body_size }}'>
                    {%- for link in block.settings.menu.links -%}
                      <a
                        class='footer__menu-item underline-text body-color body-font-weight-from-global-settings'
                        href='{{ link.url }}'
                        aria-label='{{ link.title | strip_html | escape }}'
                      >
                        <span class='underline-text__label'>{{ link.title }}</span>
                      </a>
                    {%- endfor -%}
                  </div>
                    
                </div>
                  <div class="mobile_inner_m">
                      <div class="accordion-item">
    <div class="footer nav_mobile accordion-item-header">
    {{ block.settings.title }}
      <div class="arrow_accordion">
         {% render 'icon',
                    icon_name: 'normal_arrow',
                    class: 'localization-dropdown-toggle__chevron',
                    stroke_width: 2
                  %}
      </div>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        {% for link in block.settings.menu.links  %}
          <div class="menu_links_m">
            <a href="{{ link.url }}"> {{ link.title }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
                  </div>
                </div>
              {%- when 'custom_liquid' -%}
                <div class='footer__block block-{{ block.id }}' {{ block.shopify_attributes }}>
                  <div class='rte product-content-tab__rte body-color'>
                    {{ block.settings.custom_liquid }}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

 <div class='footer__utils {% if section.blocks.size > 0 %}{% endif %}'>
       
        {%- if show_currency_selector == true or show_language_selector == true -%}
          <div class='footer__settings currency_selector_s_d'>
            {%- if show_language_selector == true -%}
              <div class='localization-dropdown-wrapper'>
                <dropdown-opener
                  class='localization-dropdown-toggle'
                  data-aria-expanded='false'
                  data-float-element-id='FooterLanguageSelector'
                  data-trigger='click'
                  tabindex='0'
                >
                  {{ localization.language.endonym_name | capitalize }}
                  {% render 'icon',
                    icon_name: 'normal_arrow',
                    class: 'localization-dropdown-toggle__chevron',
                    stroke_width: 1
                  %}
                </dropdown-opener>
                <float-element
                  class='localization-dropdown  footer__localization-dropdown'
                  aria-hidden='true'
                  id='FooterLanguageSelector'
                  data-placement='top-end'
                  data-main-axis-offset='12'
                  data-strategy='fixed'
                >
                  <template data-float-element-template='FooterLanguageSelector'>
                    <div class='localization-dropdown__body'>
                      <localization-selector class='footer__selector'>
                        {%- form 'localization', id: 'FooterLanguageForm' -%}
                          {%- for language in localization.available_languages -%}
                            <button
                              class='localization-dropdown__item link-parent-for-hover {% if localization.language == language %} selected{% endif %}'
                              data-localization-item
                              data-value='{{ language.iso_code }}'
                              data-focus-trap-target
                              aria-label='{{ language.endonym_name | strip_html | escape }}'
                            >
                              <span class='underline-animation'>{{ language.endonym_name | capitalize }}</span>
                            </button>
                          {%- endfor -%}
                          <input
                            type='hidden'
                            name='locale_code'
                            data-localization-input
                            value='{{ localization.language.iso_code }}'
                            id='FooterLanguageForm-LocaleCodeInput-{{ form.id }}'
                          >
                        {%- endform -%}
                      </localization-selector>
                    </div>
                  </template>
                </float-element>
              </div>
            {%- endif -%}
            {%- if show_currency_selector == true -%}
              <div class='localization-dropdown-wrapper'>
                <dropdown-opener
                  class='localization-dropdown-toggle'
                  data-aria-expanded='false'
                  data-float-element-id='FooterCurrencySelector'
                  data-trigger='click'
                  tabindex='0'
                >
                  {{ localization.country.currency.iso_code }}
                  {% render 'icon',
                    icon_name: 'normal_arrow',
                    class: 'localization-dropdown-toggle__chevron',
                    stroke_width: 1
                  %}
                </dropdown-opener>
                <float-element
                  class='localization-dropdown footer__localization-dropdown'
                  aria-hidden='true'
                  id='FooterCurrencySelector'
                  data-placement='top-end'
                  data-main-axis-offset='12'
                  data-strategy='fixed'
                >
                  <template data-float-element-template='FooterCurrencySelector'>
                    <div class='localization-dropdown__body'>
                      <localization-selector class='footer__selector'>
                        {%- form 'localization', id: 'FooterCurrencyForm' -%}
                          {%- for country in localization.available_countries -%}
                            <button
                              data-localization-item
                              class='localization-dropdown__item link-parent-for-hover {% if localization.country == country %} selected{% endif %}'
                              data-value='{{ country.iso_code }}'
                              data-focus-trap-target
                              aria-label='{{ country.name | strip_html | escape }} {{ country.currency.iso_code | strip_html | escape }}'
                            >
                              <span class='underline-animation'>
                                {{- country.name }}, {{ country.currency.iso_code -}}
                              </span>
                            </button>
                          {%- endfor -%}
                          <input
                            type='hidden'
                            name='country_code'
                            data-localization-input
                            value='{{ localization.country.iso_code }}'
                            id='FooterLanguageForm-CountryCodeInput-{{ form.id }}'
                          >
                        {%- endform -%}
                      </localization-selector>
                    </div>
                  </template>
                </float-element>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if bottom_bar.links.size > 0 -%}
          <div class='footer__bottom-bar'>
            {%- for link in bottom_bar.links -%}
              <a
                class='footer__bottom-bar-item underline-text body-color'
                href='{{ link.url }}'
                aria-label='{{ link.title | strip_html | escape }}'
              >
                <span class='underline-text__label'>{{ link.title }}</span>
              </a>
            {%- endfor -%}
          </div>
        {%- endif -%}

        {% if copyright_text != blank or show_payment_icons %}
          <div class='footer__extra'>
            {%- if copyright_text != blank -%}
              <div class='footer__copyright body-color'>
                {{ copyright_text }}
              </div>
            {%- endif -%}

            {%- if show_payment_icons -%}
              <div class='footer__payment-icons'>
                {%- for type in shop.enabled_payment_types -%}
                  <img src='{{ type | payment_type_img_url }}' alt='Payment: {{ type }}' loading='lazy'>
                {%- endfor -%}
                {%- if shop.features.follow_on_shop? and enable_follow_on_shop -%}
                  <div>
                    {% # theme-check-disable %}
                    {{ shop | login_button: action: 'follow' }}
                    {% # theme-check-enable %}
                  </div>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {% endif %}
      </div>

      {%- if show_policy_links and shop.policies.size > 0 -%}
        <div class='footer__policies'>
           {%- if show_currency_selector == true or show_language_selector == true -%}
          <div class='footer__settings footer_mobile_d'>
            {%- if show_language_selector == true -%}
              <div class='localization-dropdown-wrapper'>
                <dropdown-opener
                  class='localization-dropdown-toggle'
                  data-aria-expanded='false'
                  data-float-element-id='FooterLanguageSelector'
                  data-trigger='click'
                  tabindex='0'
                >
                  {{ localization.language.endonym_name | capitalize }}
                 
                  {% render 'icon',
                    icon_name: 'normal_arrow',
                    class: 'localization-dropdown-toggle__chevron',
                    stroke_width: 1
                  %}
                 
                </dropdown-opener>
                <float-element
                  class='localization-dropdown  footer__localization-dropdown'
                  aria-hidden='true'
                  id='FooterLanguageSelector'
                  data-placement='top-end'
                  data-main-axis-offset='12'
                  data-strategy='fixed'
                >
                  <template data-float-element-template='FooterLanguageSelector'>
                    <div class='localization-dropdown__body'>
                      <localization-selector class='footer__selector'>
                        {%- form 'localization', id: 'FooterLanguageForm-s' -%}
                          {%- for language in localization.available_languages -%}
                            <button
                              class='localization-dropdown__item link-parent-for-hover {% if localization.language == language %} selected{% endif %}'
                              data-localization-item
                              data-value='{{ language.iso_code }}'
                              data-focus-trap-target
                              aria-label='{{ language.endonym_name | strip_html | escape }}'
                            >
                              <span class='underline-animation'>{{ language.endonym_name | capitalize }}</span>
                            </button>
                          {%- endfor -%}
                          <input
                            type='hidden'
                            name='locale_code'
                            data-localization-input
                            value='{{ localization.language.iso_code }}'
                            id='FooterLanguageForm-LocaleCodeInput-{{ form.id }}'
                          >
                        {%- endform -%}
                      </localization-selector>
                    </div>
                  </template>
                </float-element>
              </div>
            {%- endif -%}
            {%- if show_currency_selector == true -%}
              <div class='localization-dropdown-wrapper'>
                <dropdown-opener
                  class='localization-dropdown-toggle'
                  data-aria-expanded='false'
                  data-float-element-id='FooterCurrencySelector'
                  data-trigger='click'
                  tabindex='0'
                >
                  {{ localization.country.currency.iso_code }}
                  {% render 'icon',
                    icon_name: 'normal_arrow',
                    class: 'localization-dropdown-toggle__chevron',
                    stroke_width: 1
                  %}
                </dropdown-opener>
                <float-element
                  class='localization-dropdown footer__localization-dropdown'
                  aria-hidden='true'
                  id='FooterCurrencySelector'
                  data-placement='top-end'
                  data-main-axis-offset='12'
                  data-strategy='fixed'
                >
                  <template data-float-element-template='FooterCurrencySelector'>
                    <div class='localization-dropdown__body'>
                      <localization-selector class='footer__selector'>
                        {%- form 'localization', id: 'FooterCurrencyForm-s' -%}
                          {%- for country in localization.available_countries -%}
                            <button
                              data-localization-item
                              class='localization-dropdown__item link-parent-for-hover {% if localization.country == country %} selected{% endif %}'
                              data-value='{{ country.iso_code }}'
                              data-focus-trap-target
                              aria-label='{{ country.name | strip_html | escape }} {{ country.currency.iso_code | strip_html | escape }}'
                            >
                              <span class='underline-animation'>
                                {{- country.name }}, {{ country.currency.iso_code -}}
                              </span>
                            </button>
                          {%- endfor -%}
                          <input
                            type='hidden'
                            name='country_code'
                            data-localization-input
                            value='{{ localization.country.iso_code }}'
                            id='FooterLanguageForm-CountryCodeInput-{{ form.id }}'
                          >
                        {%- endform -%}
                      </localization-selector>
                    </div>
                  </template>
                </float-element>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
          {% if section.settings.extralink1 %}
           <a
              class='footer__policies-item underline-text body-color'
              href='{{ section.settings.bottom_link1 }}'
              aria-label='{{ section.settings.extralink1 | strip_html | escape }}'
            >
              <span class='underline-text__label'>{{ section.settings.extralink1 }}</span>
            </a>
          {% endif %}
          {% if section.settings.extralink2 %}
           <a
              class='footer__policies-item underline-text body-color'
              href='{{ section.settings.bottom_link2 }}'
              aria-label='{{ section.settings.extralink2 | strip_html | escape }}'
            >
              <span class='underline-text__label'>{{ section.settings.extralink2 }}</span>
            </a>
          {% endif %}
          
          {%- for policy in shop.policies %}
            {% if policy.title == "Contact information"%}
                <a
              class='footer__policies-item underline-text body-color'
              href='{{ policy.url }}'
              aria-label='{{ policy.title | strip_html | escape }}'
            >
              <span class='underline-text__label'>Engineered by <span style="text-decoration:underline">Zulu</span></span>
            </a>
          
             {% else %}
            <a
              class='footer__policies-item underline-text body-color'
              href='{{ policy.url }}'
              aria-label='{{ policy.title | strip_html | escape }}'
            >
              <span class='underline-text__label'>{{ policy.title }}</span>
            </a>
              {% endif %}
          {%- endfor %}
          
        </div>
      {%- endif -%}
      <div class="copy_right_text">
        Copyright &copy; 2024
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    
   const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");

          accordionItemHeaders.forEach(accordionItemHeader => {
          accordionItemHeader.addEventListener("click", event => {
    
     // Uncomment in case you only want to allow for the display of only one collapsed item at a time!
    
     //     const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
    //     if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
    //        currentlyActiveAccordionItemHeader.classList.toggle("active");
    //        currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
      //      }

     accordionItemHeader.classList.toggle("active");
     const accordionItemBody = accordionItemHeader.nextElementSibling;
     if(accordionItemHeader.classList.contains("active")) {
      accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
     }
     else {
       accordionItemBody.style.maxHeight = 0;
     }
    
   });
});
     })
</script>
                  <script>
                    var inputField=document.querySelector("#ContactFooter-ContactEmailInput-");
                    inputField.addEventListener("input", function(){
                      var innerf = inputField.nextElementSibling; 
    
   
    if (inputField.value.trim() !== "") {
      innerf.style.display = "block"; 
    } else {
      innerf.style.display = "none"; 
    }
                    })
                  </script>

{% render 'save-section-data-in-global-scope', section: section %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 8,
  "tag": "footer",
  "class": "shopify-section-footer",
  "settings": [
    
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:sections.general_section_settings.color_scheme_option_default_label"
        },
        {
          "value": "primary",
          "label": "t:sections.general_section_settings.color_scheme_option_primary_label"
        },
        {
          "value": "secondary",
          "label": "t:sections.general_section_settings.color_scheme_option_secondary_label"
        },
        {
          "value": "custom-1",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_1_label"
        },
        {
          "value": "custom-2",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_2_label"
        },
        {
          "value": "custom-3",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_3_label"
        },
        {
          "value": "white",
          "label": "t:sections.general_section_settings.color_scheme_option_white_text_label"
        },
        {
          "value": "black",
          "label": "t:sections.general_section_settings.color_scheme_option_black_text_label"
        },
        {
          "value": "custom-5",
          "label": "t:sections.general_section_settings.color_scheme_option_custom_5_label"
        }
      ],
      "default": "default",
      "label": "t:sections.general_section_settings.color_scheme_label",
      "info": "t:sections.general_section_settings.color_scheme_tip"
    },
    {
      "type": "checkbox",
      "id": "enable_background_around_container",
      "default": false,
      "label": "t:sections.general_section_settings.enable_background_around_container_label"
    },
    {
      "type": "select",
      "id": "container_size",
      "options": [
        {
          "value": "full-screen",
          "label": "t:sections.general_section_settings.container_size.screen_width_option"
        },
        {
          "value": "page-width",
          "label": "t:sections.general_section_settings.container_size.page_width_option"
        },
        {
          "value": "large",
          "label": "t:sections.general_section_settings.container_size.large_width_option"
        },
        {
          "value": "medium",
          "label": "t:sections.general_section_settings.container_size.medium_width_option"
        }
      ],
      "default": "full-screen",
      "label": "t:sections.general_section_settings.container_size.label"
    },
    {
      "type": "select",
      "id": "desktop_column_count",
      "options": [
        {
          "value": "3",
          "label": "t:sections.footer.desktop_column_count.option_1.label"
        },
        {
          "value": "4",
          "label": "t:sections.footer.desktop_column_count.option_2.label"
        }
      ],
      "default": "4",
      "label": "t:sections.footer.desktop_column_count.label"
    },
    {
      "type": "checkbox",
      "id": "enable_border",
      "default": true,
      "label": "t:sections.footer.enable_border_label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.bottom_bar_settings_header"
    },
    {
      "type": "link_list",
      "id": "bottom_bar",
      "label": "t:sections.footer.bottom_bar_label",
      "info": "t:sections.footer.bottom_bar_info",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "default": false,
      "label": "t:sections.footer.show_payment_icons_label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.footer.show_payment_icons_info"
    },
    {
      "type": "inline_richtext",
      "id": "copyright_text",
      "label": "t:sections.footer.copyright_text_label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.follow_on_shop_settings_header.content",
      "info": "t:sections.footer.follow_on_shop_settings_header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.language_selector_settings_header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.footer.language_selector_settings_paragraph"
    },
    {
      "type": "checkbox",
      "id": "show_language_selector",
      "default": true,
      "label": "t:sections.footer.show_language_selector_label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.currency_selector_settings_header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.footer.currency_selector_settings_parapragh"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "default": true,
      "label": "t:sections.footer.show_currency_selector_label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.policies_settings_header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.footer.policies_settings_parapragh"
    },
    {
      "type": "checkbox",
      "id": "show_policy_links",
      "default": true,
      "label": "t:sections.footer.show_policies_label"
    },
    {
      "type": "header",
      "content": "t:sections.general_section_settings.paddings.header_title"
    },
    {
      "type": "checkbox",
      "id": "add_side_paddings",
      "default": false,
      "label": "t:sections.general_section_settings.paddings.add_side_paddings.label"
    },
    {
      "type": "range",
      "id": "section_spacing_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "t:sections.general_section_settings.paddings.section_spacing_top.unit",
      "label": "t:sections.general_section_settings.paddings.section_spacing_top.label"
    },
    {
      "type": "range",
      "id": "section_spacing_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "t:sections.general_section_settings.paddings.section_spacing_bottom.unit",
      "label": "t:sections.general_section_settings.paddings.section_spacing_bottom.label"
    },
    {
      "type": "text",
      "label":"Extra links in bottom",
      "id":"extralink1"
    },
    {
      "type":"url",
      "label":"Add link",
      "id":"bottom_link1"
    },
    {
      "type": "text",
      "label":"Extra links in bottom",
      "id":"extralink2"
    },
    
    {
      "type":"url",
      "label":"Add link",
      "id":"bottom_link2"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.footer.image_block_name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.image_block_image_label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.general_section_settings.label_for_desktop_video_setting"
        },
        {
          "type": "range",
          "id": "image_ratio",
          "min": 0.1,
          "max": 3,
          "step": 0.1,
          "default": 1,
          "unit": "t:sections.footer.image_block_image_ratio_unit",
          "label": "t:sections.footer.image_block_image_ratio_label"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 100,
          "unit": "t:sections.footer.image_block_image_width_unit",
          "label": "t:sections.footer.image_block_image_width_label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.footer.image_block_link_label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.text_block_name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.text_block_title_label",
          "default": "Text"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "caption2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.text_block_text_label",
          "default": "<p>Fill in the text to share information about your brand objectives and sources of inspiration. Welcome customers to share them and learn more.</p>"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body4"
        }
      ]
    },
    {
      "type": "logo_with_text",
      "name": "t:sections.footer.logo_with_text_block_name",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_img",
          "label": "t:sections.footer.logo_with_text_block_logo_img_label"
        },
         {
          "type": "image_picker",
          "id": "logo_img_mobile",
          "label": "Logo Image Mobile"
        },
        
        {
          "type": "image_picker",
          "id": "second_img",
          "label": "Second logo image"
        },
        {
          "type": "image_picker",
          "id": "second_img_mobile",
          "label": "Second Logo image Mobile"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 20,
          "max": 400,
          "step": 10,
          "default": 140,
          "unit": "t:sections.footer.logo_with_text_block_logo_width_unit",
          "label": "t:sections.footer.logo_with_text_block_logo_width_label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.logo_with_text_block_title_label",
          "default": "Logo with text"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "caption2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.logo_with_text_block_text_label",
          "default": "<p>Pair logo with text to tell more about your brand, history, and achievements.</p>"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body4"
        }
      ]
    },
    {
      "type": "subscribe",
      "name": "t:sections.footer.subscribe_block_name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.subscribe_block_customer_settings_paragraph"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.subscribe_block_title_label",
          "default": "Subscribe"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "caption2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.subscribe_block_text_label",
          "default": "<p>Invite customers to join your mailing list.</p>"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body4"
        },
        {
          "type": "select",
          "id": "input_style",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.footer.subscribe_block_input_style_option_1_label"
            },
            {
              "value": "outline",
              "label": "t:sections.footer.subscribe_block_input_style_option_2_label"
            }
          ],
          "default": "solid",
          "label": "t:sections.footer.subscribe_block_input_style_label"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "t:sections.footer.social_media_block_name",
      "settings": [
        {
          "type": "richtext",
          "id": "title1",
          "label": "Heading One",
         
        },
        { 
          "type": "richtext",
          "id": "body1",
          "label": "First body"   
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.social_media_block_title_label",
          "default": "Social media"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "caption2"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.social_media_block_text_label",
          "default": "<p>Add links to your accounts in Theme settings > Social media so that they appear as icons below.</p>"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_body_size_setting",
          "info": "t:sections.general_section_settings.info_for_body_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body4"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.footer.menu_block_name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.menu_block_menu_label",
          "info": "t:sections.footer.menu_block_menu_info",
          "default": "main-menu"
        },
        {
          "type": "select",
          "id": "body_size",
          "label": "t:sections.general_section_settings.label_for_menu_size_setting",
          "options": [
            {
              "value": "body0",
              "label": "t:sections.general_section_settings.body_size_0_option"
            },
            {
              "value": "body1",
              "label": "t:sections.general_section_settings.body_size_1_option"
            },
            {
              "value": "body2",
              "label": "t:sections.general_section_settings.body_size_2_option"
            },
            {
              "value": "body3",
              "label": "t:sections.general_section_settings.body_size_3_option"
            },
            {
              "value": "body4",
              "label": "t:sections.general_section_settings.body_size_4_option"
            },
            {
              "value": "body5",
              "label": "t:sections.general_section_settings.body_size_5_option"
            },
            {
              "value": "body6",
              "label": "t:sections.general_section_settings.body_size_6_option"
            }
          ],
          "default": "body4"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.menu_block_title_label",
          "default": "Menu"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general_section_settings.label_for_heading_size_setting",
          "options": [
            {
              "value": "display1",
              "label": "t:sections.general_section_settings.display_size_1_option"
            },
            {
              "value": "display2",
              "label": "t:sections.general_section_settings.display_size_2_option"
            },
            {
              "value": "display3",
              "label": "t:sections.general_section_settings.display_size_3_option"
            },
            {
              "value": "h1",
              "label": "t:sections.general_section_settings.heading_size_1_option"
            },
            {
              "value": "h2",
              "label": "t:sections.general_section_settings.heading_size_2_option"
            },
            {
              "value": "h3",
              "label": "t:sections.general_section_settings.heading_size_3_option"
            },
            {
              "value": "h4",
              "label": "t:sections.general_section_settings.heading_size_4_option"
            },
            {
              "value": "h5",
              "label": "t:sections.general_section_settings.heading_size_5_option"
            },
            {
              "value": "h6",
              "label": "t:sections.general_section_settings.heading_size_6_option"
            },
            {
              "value": "caption1",
              "label": "t:sections.general_section_settings.caption_size_1_option"
            },
            {
              "value": "caption2",
              "label": "t:sections.general_section_settings.caption_size_2_option"
            },
            {
              "value": "caption3",
              "label": "t:sections.general_section_settings.caption_size_3_option"
            }
          ],
          "default": "caption2"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.product_details.custom_liquid_block_name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.general_section_settings.liquid.label",
          "info": "t:sections.general_section_settings.liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.footer.name",
      "blocks": [
        {
          "type": "menu"
        },
        {
          "type": "social_media"
        },
        {
          "type": "subscribe"
        }
      ]
    }
  ]
}
{% endschema %}
